/* Rules Css */
body{
	height: 1000px;/*for layout*/
}
.container{
	width: 1170px;
	margin: auto;
}
.clear-flex {clear: both;}
/* End Rules Css */

/* Start Header */
.header .slider{
	background-color: #EEE;
	height: 875px;
	background-image:url('../images/hero-bg.jpg');
	-webkit-background-size: cover;/* css3 */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header .slider .intro{
	margin: 0px;
	color: #fff;
	text-align: center;
	padding-top: 346px;
}
.header .slider .intro h2 {	
	padding: 5px 0;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	width: 742px;
	font-size: 58px;
	margin-left: 192px;
	margin-top: 0px;
}
.header .slider .intro button {
	color: #fff;
	background: none;
	border: 2px solid #fff;
	padding: 10px 51px;
	font-weight: bold;
}
.header .navbar{
	background-color: #252F31;
	color: #FFF;
	overflow: hidden;
}
.header .navbar h2{float: left;}
.header .navbar h2 span{color: #2BA360;}
.header .navbar ul {
	list-style: none;
	padding: 0;
	overflow: hidden;
	float: right;
}
.header .navbar ul li{
	float: left;
	padding: 10px;
}
.header .navbar ul li a {
	text-decoration: none;
	color: #fff;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
	color: #298D57;
}
/* End Header */

/*Start Features*/

.features{
	overflow: hidden;
	padding-top: 46px;
	padding-bottom: 60px;
}
.features .fit {
	float: left;
	width: 33.3333%;
	height: auto;
}

.features .fit h2 {
	text-transform: uppercase;
	color: #555;
}
.features .fit p {
	color: #888;
	line-height: 1.5;
	padding-right: 10px;
}

/*End Features*/

/* Start About Me*/
.about-me{
	background-color: #F2F2F1;
	overflow: hidden;
}

.about-me .image {
	float: left;
	width: 40%;
}

.about-me .image img {
	width: 100%;
}

.about-me .info {
	float: left;
	width: 60%;
}

.about-me .info .hobbies{
	overflow: hidden;
	margin: 40px;
}
.about-me .info .hobbies > div {
	width: 50%;
	float: left;
	min-height: 150px;
}

/* End About Me*/

/* Start My-skills*/
.my-skills {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.my-skills .skills,
.my-skills .progress {
	float: left;
	width: 50%;
}
/* End My-skills*/

/*Start Resume*/
.resume {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F2F2F1;
	text-align: center;
}
/*End Resume*/

/*Start My Education*/
.my-education {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.my-education .experince,
.my-education .education {
	float: left;
	width: 50%;
}
/* End My Education*/

/*Start Testemonials*/
.testemonials {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F2F2F1;
	text-align: center;
}
/*End Testemonials*/

/* Start portfolio */

.portfolio {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.portfolio .our-work {
	overflow: hidden;
}

.portfolio .our-work > div {
	float: left;
	width: 33.3333%;
	margin-bottom: 10px;
}

.portfolio .our-work > div img {
	width: 92%;
	margin: 10px;
}
/* End portfolio */
/* Start contact */
.contact {
	background-color: #252E30;
	overflow: hidden;
}
.contact .info h2 {color: #fff}
.contact .info p {#7C7D7E}
.contact .info,
.contact .form{
	width: 50%;
	float: left;
}
/* end contact */

/*start footer*/
.footer{
	background-color: #191F21;
	text-align: center;
	padding: 20px 0;
}
/*end footer*/

